
  @font-face {
	font-family: 'Cabin';
	src: url(../assets/fonts/Cabin-Regular.ttf);
  }
  @font-face {
	font-family: 'Cabin:bold';
	src: url(../assets/fonts/Cabin-Bold.ttf);
  }
body{
	font-family: 'Cabin';
	scrollbar-color: gray #fff !important;
	scrollbar-width: 10px !important;
	/* overflow: hidden; */
}
span,p,a,div{
	font-size:15px;
	letter-spacing: .02em;
}
::placeholder{
	font-style: normal;
	opacity: .5 !important;
}
  ::-moz-selection { 
	color: #fff;
	background: #00C4F4;
  }
  ::selection {
	color: #fff;
	background: #00C4F4;
  }
h1,h2,h3,h4,h5,h6{
	font-family: 'Cabin:bold';
	letter-spacing: .02em;
}
.prime_clr{
    color: #00C4F4 !important;
}
.sec_main_clr{
    color: #002856 !important;
}
input:focus{
	box-shadow: none !important;
	border-color: #00C4F4 !important;
}
.ffcabin{
	font-family: cabin;
}
.white_clr{
	color: #fff;
}
.black_clr{
	color: #000;
}
.font_clr_bold{
	color: #202020
}
.normal_font{
	color: #626262;
}
.prime_bg_clr{
    background-color: #00C4F4 ;
    color: #fff ;
}
.prime_btn_overlay:hover{
    border: 1px solid #00C4F4;
    background-color: #fff;
    color: #00C4F4;
}
.sec_main_bg_clr{
    background-color: #002856;
    color: #fff ;
}
.sec_main_btn_overlay:hover{
    border: 1px solid #002856;
    background-color: #fff;
    color: #002856;
}
.success_clr{
	color: #00C4F4;
}
.success_bg_clr{
    background-color: #00C4F4;
    color: #fff;
}
.success_bg_clr:hover{
    border: 1px solid #00C4F4;
    background-color: #fff;
    color: #00C4F4;
}
.br-0{
	border-radius: 0;
}
.ls_1{
	letter-spacing: 1px;
}
.ls_04em{
	letter-spacing: .04em;
}
.main_padding{
	padding: 18px 28px;
}
#top_collapse_btn{  
    font-size: 32px;
}
#login_btn{
    padding: 20px 0;
}
#login_btn:focus{
	outline: 0 !important;
    box-shadow: none !important;
}
#profile_btn{
    padding: 20px 0;
}
.anchor:hover{
	text-decoration: none;
	color: #00C4F4;
}
.section.fp-auto-height {
  	padding: 0 !important;
}
.fp-viewing-4 #fp-nav{
    display: none;
}
.navbar-brand img{
	max-width: 130px;
	padding: 13px 0;
}
#menu li {
	display:inline-block;
	margin: 0 10px;
	color: #000;
	background:#fff;
	background: transparent;
	-webkit-border-radius: 0px; 
            border-radius: 0px; 
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #00C4F4;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: transparent;
}
#menu li a,
#menu li.active a{
	padding: 16px 0px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position: relative;;
	top:0;
	left:0;
	/* height: 66px; */
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
button{
	outline: none !important;
}
/* .wrapper {
  height:100vh;
  top: 0;
  left: 0;
  position:absolute;
} */
#header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 100px;
	background-color: white;
	z-index: 100;
}
.top_menu{
	padding-right: 10px;
	padding-top: 4px;
}

/* insights that counts */
.pie_chart{
	display: grid;
}
.main_title{
	font-size: 54px;
	font-weight: 900;
}
.right_arrrow{
	font-size: 34px;
	padding: 0px 16px;
	position: absolute;
	margin-top: -4px;
	color: #00C4F4;
}
.custom_link_style{
	color: #000;
	text-decoration: none;
}
.custom_link_style:hover{
	color: #00C4F4;
	text-decoration: none;
	cursor: pointer;
}
.front_search_group{
	width: 70%;
}
.front_search_group button{
	height: 33px;
	padding: 0 .75rem;
}
.front_search_group button i{
	transform: rotate(42deg);
}
.custom_form_control{
	border-radius: 0px;
	height: 33px;
}
.custom_form_control:focus{
	border-color: none;
	outline: 0;
	box-shadow: none;
}

   /* 30-09-2019 */

.overlap_image{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
   }
   .overlap_image .topImage{
	width: 329px;
	height: 329px;
	left: 91px;
	margin-left: 34px;
	margin-top: -8px;
	opacity: 0.6;
}
.overlap_image .bottomImage{
	width: 110px;
	height: 158px;
	margin-left: 140px;
	margin-bottom: 2px;
	opacity: 0.6;
	/* margin-top: 0; */
	/* transform: rotate(-2deg); */
	/* animation: .8s normal forwards  ease-in-out floating;
	animation-iteration-count:  1;
    animation-timing-function:  linear; */
}
.section.active .bottomImage{
	animation: .8s normal forwards  ease-in-out floating;
	animation-iteration-count:  1;
    animation-timing-function:  linear;
	
	}

@keyframes floating {
	/* 0% {
		transform: translatey(164px);
	} */
	/* 100% {
		transform: translatey(-164px);
	} */
	0% { transform: translatey(0px); }
    100% { transform: translatey(-164px); }
	
}
   .section_left_text{
	position: absolute;
	top: 85px;
	z-index: 2;
   }
   .section_left_text p{
	margin-top: 25px;
	margin-bottom: 1rem;
   }
   .front_search_group input::placeholder {
    font-size: 14px;
	font-style: italic;
   }

.section_left_data{
	margin: 91px 0;
	padding: 85px 0;
	position: relative;
   }
.section_left_data .front_search_group{
	margin-top: 190px;
   }
.main_banner_image{
	padding: 55px 0px;
	max-width: 100%;
	position: relative;
   }
    .owl img{
		padding: 35px 0px !important;
		height: 800px;
		width: 675px;
   }
   .client_logo_main ul{
	display: flex;
	width: 100%;
	margin: auto;
	padding: 43px 0;
   }
   .client_logo_main ul li{
	text-align: center;
	width: 17%;
   }


.client-row{
	margin-right: -28px;
	margin-left: -28px;
	background-color: #00C4F4;
	opacity: 0.85;
	margin-top: -213px;
}
.why_straits_data{
	font-size: 16px;
}
.why_straits{
	font-size: 48px;
	font-weight: 900;
	padding: 27px 0;
}
.blog_link{
	background-color: #00C4F4;
	color: #fff;
	padding: 2px 8px 0px 8px;
	/* position: absolute; */
	/* -webkit-padding: 2px 8px 0px 8px; */
	width: 100%;
	min-height: 100px;
	position: absolute;
	/* -webkit-width: 100%;
	-webkit-position: absolute; */
}
.blog_icon{
	font-size: 30px;
}
.blog_link_sec{
	background-color: #00C4F4;
	color: #fff;
	padding: 2px 8px 0px 8px;
	/* position: absolute; */
	width: 100%;
	position: relative;
	bottom: 98px;

/* -webkit-background-color: #00C4F4;
-webkit-color: #fff;
-webkit-padding: 2px 8px 0px 8px; */
/*-webkit- position: absolute; */

/* -webkit-width: 100%;
-webkit-position: relative;
-webkit-bottom: 98px; */
}

.blog_link:hover{
	background-color: #00C4F4;
	color: #fff;
	text-decoration: none;
}
@media screen and (min-width:901px) and (max-width:1100px){
	.blog_link{
		font-size: 14px;
		/* -webkit-font-size: 14px; */
	}
	.blog_link_sec{
		bottom: 89px;
		/* -webkit-bottom: 89px; */
	}
}
@media screen and (min-width:768px) and (max-width:900px){
	.blog_link{
		font-size: 12px;
		/* -webkit-font-size: 12px; */
	}
	.blog_link_sec{
		bottom: 98px;
		/* -webkit-bottom: 80px; */
	}
}
@media screen and (max-width:767px){
	.blog_link{
		font-size: 13px;
		/* -webkit-font-size: 13px; */
	}
	.blog_link_sec{
		bottom: 65px;
		/* -webkit-bottom: 65px; */
	}
}
@media screen and (max-width:576px){
	.blog_link{
		top: -20px;
		-webkit-top: -20px;
	}
}
.blog_img{
	width: 92%;
	-webkit-width: 92%;
	/* margin: 46px 42px; */
	/* top: 0;
	position: absolute;
	right: 0; */
	z-index: -1;
	float: right;
	/* -webkit-z-index: -1;
	-webkit-float: inline-end; */
	height: 265px;
}
.blog_social_icon{
	padding: 25px 0px;
	/* -webkit-padding: 25px 0px; */
}
.blog_social_icon i{
	font-size: 33px;
	/* -webkit-font-size: 33px; */
}
.blog_parent{
	position: relative;
	/* -webkit-position: relative; */
}
.contact_info{
	font-size: 53px;
}
.contact-row{
	padding: 15px 28px 80px 28px;
	border-bottom: 12px solid #00C4F4;
}
.footer_row{
	width: 100%;
	padding: 60px 28px 80px 28px;
}
.footer_row img{
	max-width: 130px;
    position: relative;
    top: 26px;
}
.footer_row ul li{
	padding: 6px 0;
}
.footer_row ul li a{
	color: #000;
}
a:hover .custom_right_arrow{
	transition: all .1s ease;
	/* transform: scale(1.1);
	padding-left: 40px; */
}
.footer_row ul li a:hover{
	text-decoration: none;
	color: #00C4F4;
}
.footer_headings{
    position: relative;
    padding-bottom: 5px;
}
/* .footer_headings::after{
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 39%;
	height: 1px;
	border-bottom: 3px solid #00C4F4;
	content: "";
} */
/* .footer_subscribe h5::after{
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 86% !important;
	height: 1px;
	border-bottom: 3px solid #00C4F4;
	content: "";
} */
.footer_subscribe i{
	font-size: 33px;
	transform: rotate(0deg) !important;

}
.footer_subscribe .input-group{
	 width: 82%;
 }

 /* Fullpage content landing */
	.fullpage-wrapper {
		width: 100%!important;
		transform: none!important;
		z-index: 49;
	}
	.fp-section {
		width: 100%!important;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: all .7s ease-in-out;
	}
	.fp-section.active {
		visibility: visible !important;
		opacity: 1;
		z-index: 99;
	} 
	.section {
		visibility: hidden ;
	} 
	/* .section.active {
		visibility: visible ;
	} */
	.fp-section.active .section_left_text{
		animation-name: mymove;
        animation-duration: 1s;
	} 
	.fp-section.active .main_banner_image{
		animation-name: mymove2;
        animation-duration: 1s;
	} 


	@keyframes mymove {
		0% {
			opacity: 0;
			transform: translateY(-134px);
			
			filter: blur(2px);
		 }
		 100% {
			opacity: 1;
			transform: translateY(0);
			filter: blur(0px);
		 }
	}
	@keyframes mymove2 {
		0% {
			opacity: 0;
			transform: translateY(90px);
			filter: blur(2px);
		 }
		 100% {
			opacity: 1;
			transform: translateY(0);
			filter: blur(0px);
		 }
		}

 /* Fullpage content landing */

/* Default Fullpage Classes */

		.slimScrollBar{
			background-color: transparent !important;
		}

	/* navigation dots */
		#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
			
			border: 3px solid #022D33;
			right: -4px;
			z-index: 99;
			position: relative;
		}
		#fp-nav ul{
			list-style: none;
			top: 40%;
			position: absolute;
			z-index: 99;
			right: 26px;
		}
		#fp-nav ul li{
			margin: 3px 0px;
		}

		#fp-nav ul li a span{
			visibility:visible !important;
		}
		#fp-nav ul li a span, .fp-slidesNav ul li a span {
			border: 3px solid #00C4F4;
			background: rgba(0, 0, 0, 0);
			height: 8px;
			width: 8px;
			border-radius: 25%;
			z-index: 99;
		}
		#fp-nav ul li:hover a span,
		.fp-slidesNav ul li:hover a span,
		#fp-nav ul li a.active span, 
		.fp-slidesNav ul li a.active span, 
		#fp-nav ul li:hover a.active span,
		.fp-slidesNav ul li:hover a.active span 
		{ 
			height: 8px;
			width: 8px;
			position: relative;
			margin: -2px 0 0 -2px;
			z-index: 99;
		}
		/* .fp-viewing-3 #fp-nav ul li a span, .fp-slidesNav ul li a span {
			border: 3px solid #fff ;
		} */
	/* navigation dots */
			   
/* Default Fullpage Classes */
/* Media Queries */
@media  screen and (min-width:1367px)
	  {
	  .inner-wrapper{
		  max-width: 1600px;
		  margin: 0 auto;
		  position: relative;
		  /* overflow: hidden; */
	  }
	}
@media screen and (min-width:992px) and (max-width:1199px)
{
	.main_title{
		font-size: 44px;
	}
	.section_left_data .front_search_group{
		margin-top: 70px;
	   }
	   /* 02-10-2019 */
	   .main_banner_image {
		padding: 20px 0px;
	}
	.section_left_data {
		margin: 28px 0;
		padding: 0px 0;
	}
	.client-row {
		margin-top: -198px;
	}
}
@media screen and (min-width:577px) and (max-width:767px)
{
	.contact_info{
		font-size: 40px;
	}
}
@media screen and (max-width:576px)
{
	.contact_info{
		font-size: 25px;
	}
	.blog_link{
		margin: 20px 0;
	}
	.main_banner_image{
		display: none;
	}
	.section_left_text{
		top: 15px;
	   }
}
@media screen and (max-width:767px)
{
	.mobile_hidden{
		display: none;
	}
	.client-row{
		margin-top: 0px;
	}
	.section_left_data {
		margin: 0px 0;
		padding: 0px 0;
		position: relative;
	   }
	   .rp_title span {
		position: relative !important;
	   }
	   .desk_width_88{
		   width: 100% !important;
	   }	
	   .subscribe_table{
  
		width: 100% !important;
	}
	.payment_continue_btn {
		margin: 5% auto 7% auto !important;
	}
	.update_profile_btn {
		margin: 5% auto 7% auto !important;
	}

}
@media screen and (min-width:768px) and (max-width:991px)
{
	.owl img {
		height: 823px;
		width: 675px;
		margin-left: -100px;
	}
	.download_icons_parent ul li a span:nth-child(2) {
		font-size: 10px !important;
	}
}
@media screen and (max-width:391px)
{
	.top_menu{
		padding-right: 1px;
		font-size: 12px;
	}
	.front_search_group {
		width: 100%;
	}
}
@media screen and (max-width:991px)
{
	.section_left_data .front_search_group{
		margin-top: 70px;
	   }
	   .rp_title h1{
		font-size: 20px;
	}
	.blog_details_img{
		height: 100% !important;
		width: 100% !important;
	}
	.rdByFilter_parent {
		display: none;
	}
}
/* breadcrumb  */

.breadcrumb-right-arrow .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
	vertical-align:top;
	font-size:27px;
	line-height:15px;
}
.breadcrumb-item + .breadcrumb-item::before{
	padding: 4px 10px;
}
.breadcrumb{
    background-color: azure;;
	padding: 11px 28px;
}
.breadcrumb-item a{
	color: #00C4F4;
}
/*  */

/* page-404 */
.custom_404{
	width: 100%;

	
	color: #fff;
	position: relative;
}
.custom_404 h1{
	font-size: 9em;
}
.custom_svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .bg_night{
	background: #110b39;
	height: 100vh;
	overflow-y: auto;
  }
  .go_to_home{
	border: 1px solid #00C4F4;
	padding: 5px 16px;
	border-radius: 20px;
  }
  .go_to_home:hover{
	background:  #00C4F4;
	color: #fff !important;
	border-radius: 20px;
  }
  /*  */

  /* page-Login form */
  .login_form .form-group ,.login_form .forgot_login{
	/* width: 50%; */
	margin:0  auto;
  }

  .login_form label{
	font-size: 13px;
	letter-spacing: 1px;
	color: #000;
  }
  .login_form .forgot_login{
	  padding-top: 20px;
  }
  .forgot_login a{
	padding-top: 13px;
	/* position: absolute; */
	right: 31px;
  }
  .forgot_login .login_form_btn{
	padding: .3rem 2.75rem;
	color: #fff;
	background-color: #00C4F4;
	border: 1px solid white;
  }
  .forgot_login .login_form_btn:hover{
	padding: .3rem 2.75rem;
	color: #00C4F4;
	background-color:#fff ;
	border: 1px solid #00C4F4;
  }
  .forgot_login a:hover{
	color: #00C4F4;
	text-decoration: none;
}
  .login_form input{
	padding: .3rem .75rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid black;
	border-radius: 0;
  }
  .login_form input:focus{
	  box-shadow: none;
	  border-color: #00C4F4;
  }
.login_head{
	background: #00C4F4;
	height: 255px;
	background: url(../assets/images/login_doodle.png);
	background-color: #00C4F4;
}
.login_head h1{
	font-weight: bolder;
	color: #fff;
	bottom: -30px;
	position: absolute;
	width: 100%;
	font-size: 3.6em;
}

  /* page Rd-listing filter */



  /* Report Page */
.report_search_group {
	width: 80%;
	margin: 0 auto;
}
.report_search_group input {
	border: 2px solid #00C4F4;
}
.report_search_group .custom_form_control{
	border-radius: 0px;
	height: 39px;
}
.report_thumbnail{
	width: 80%;
	height: 94%;
background: #00C4F4;
margin: auto;
}
.report_found{
	width: 100%;
opacity: .5;
}
.select_filter{
	background: #00C4F4;
	padding: 29px 27px;
	color: #fff;
}
.f16{
	font-size: 16px !important;
}
.f10{
	font-size: 10px;
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.f18{
	font-size: 18px;
}
.f20{
	font-size: 20px;
}
.f22{
	font-size: 22px;
}
.f24{
	font-size: 24px;
}
.f26{
	font-size: 26px;
}
.f28{
	font-size: 28px;
}
.f30{
	font-size:30px;
}
.f35{
	font-size:35px;
}
.clrB_op6{
	color: black;
	opacity: .8;
}
.rd_filterLi .filter_layout:hover{
	color: #00C4F4;
}
  .rd_filterLi .filter_layout{
	  width: 93%;
	  cursor: pointer;
  }
  .rd_filterLi input{
	width: 10%;
	cursor: pointer;
}
.rd_filterLi{
	margin: 7px 0;
}
.check:checked + .filter_layout{
	color: #00C4F4 !important;
	text-decoration: underline;
  }
/* .rd_filterLi input:checked label{
	color: #00C4F4 !important;
}  input[type=checkbox] {
	display: none;
  } */
  input:checked{
	display: block;
  }
.filter_ul{
	  height: 225px;
	  overflow-y: auto;
  }
.filter_ul::-webkit-scrollbar {
    width: 10px;
}
.filter_ul.scrollbar {
    width: 10px !important;
}
.filter_ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #024959; 
}
.filter_ul::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 10px 10px 6px #024959; 
}
.hr_clr{
	background-color: #00C4F4;
}
.quick_view{
	position: absolute;
	bottom: 0;
	background-color: #FF5733;
	border: none;
	border-radius: 0px;
	border: 1px solid #FF5733;
	color: #fff;
}	
.quick_view:hover ,.quick_view:active {
	background-color: transparent;
	border: 1px solid #FF5733;
	color: #FF5733;
	box-shadow: #FF5733 !important;
}	
.quick_view:focus {
    outline: 0;
	box-shadow: none;
}
.price_date{
	position: absolute;
	right: 0;
	bottom: 0;
}
.op05{
	opacity: .5;
}
.report_hr {
	border: 0;
	clear:both;
	display:block;
	width: 100%;               
	background-color:#626262;
	opacity: .2;
	height: 1px;
  }

  /* Pagination */
  .pagination .active a {
	color: #00C4F4;
	background-color: transparent;
	font-weight: 600;
}
.pagination .active a:hover {
	background-color: transparent;
	color: #00C4F4;
	border: 0px;
}
.pagination .active a:focus {
	background-color: transparent;
	color: #00C4F4;
	outline: none;
}
.pagination li a {
	border: 1px;
	margin-left: 0px;
	color: #707070;
	padding: 7px 10px;
	/* margin: 0px 10px; */
}
.pagination li a:hover {
	background-color: transparent;
	color: #00C4F4;
}
.pagination li a:focus {
	outline: none;
	background-color: transparent;
   /*color:#707070;
   */
}
.pagination li:first-child a, .pagination li:last-child a {
	margin: 0px;
	padding: 6px 12px;
	font-size: 14px;
}
.pagination li:first-child a:hover, .pagination li:last-child a:hover {
	text-decoration: none !important;
	color: #00C4F4;
}
.pagination li:first-child a:focus, .pagination li:last-child a:focus {
	outline: none;
}
.f20{
	font-size: 20px;
}
.custom-pagination{
	right: 5%;
    position: absolute;
}
.rpL_more_blogs{
	right: 4%;
	position: absolute;
}
.height12px{
	border: 6px solid #00C4F4;
	background: #00C4F4;
	margin: 0 0 3px 0;
}

/*Checkboxes styles*/
.rd_filterLi input[type="checkbox"] { display: none; }

.rd_filterLi input[type="checkbox"] + label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.rd_filterLi input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.rd_filterLi input[type="checkbox"] + label:before {
  content: '';
  display: none;
  width: 10px;
  height: 17px;
  border: 2px solid#00C4F4;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.rd_filterLi input[type="checkbox"]:checked + label:before {
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}
.custom_form{
	width: 100%;
}

/* RD Internal */
.contact_number{
	padding: 0 28px;
}
.contact_number .cont_num{
	position: absolute;
	right: 28px;
}
.contact_number .breadcrumb{
	margin-bottom: 0;
	padding: 0;
	background-color: transparent;
}
.rp_title h1{
	font-weight: 400;
}
.rp_title span{
	position: absolute;
	bottom: 0;
}
.rd_segments li a{
	display: block;
	padding: 9px 28px;
	background: #F0F0F0;
	color: rgba(0,0,0, 0.7);
}
.rd_segments li a:hover{
	text-decoration: none;
	background: #fff;
	color: rgb(0, 197, 244);
}
.rd_segments li a.active{
	background: #FFF;
	color: rgb(0, 197, 244);
}
.rd_details h2{
	border-bottom: 4px solid#eaeaea;
	padding-bottom: 2px;
	font-size: 24px;
}
.rd_details{
	text-align: justify;
	padding-right: 14px;
}
/* .rd_segments li{
	padding: 0px ;
} */ 

/* Subscribe  */
.sub_now{
	width: 100%;
	text-align: center;
	padding: 32px 0px;
}
.sub_now h2{
font-size: 25px;
padding-right: 30px;

}
.subscribe_signUp_cred h3{
	font-size: 21px;
	font-weight: 400 !important;
	opacity: .7;
}
.bill_address h4{
	font-size: 21px;
	font-weight: 400 !important;
	padding: 10px 15px;
	opacity: .7;
}
.customize_reporth{
	font-size: 21px;
	font-weight: 400 !important;
	padding: 10px 15px;
	opacity: .7;
}
.desk_width_88{
	width: 88%;;
}
.main_sub_div{
	width: 100%;
	border: 1px solid rgba(0,0,0, 0.2);
	margin: 0;
}
.subscribe_table{
  
    width: 94%;
}
.subscribe_table tbody tr th{
	font-weight: normal;
}
.bb_fff{
	border-bottom: 1px solid #fff !important;
}

 /* .nav-tabs {
    display:none;
} 
 @media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block ;
        opacity: 1;
    }
}  */


.subscribe_navTabs{
	border-bottom: 1px solid transparent;;
}
.subscribe_navTabs li a{
	padding: 7px 0px;
	text-align: center;
	color: #00C4F4;
	border: 1px solid #00C4F4 !important;
	width: 80%;
	border-radius: 0px !important;
	margin: 0 auto;
}

/* .subscribe_navTabs .nav-tabs .nav-link.active{
		color: #fff;
		background-color: #00C4F4 !important;
		border-color:#00C4F4;
} */
.subscribe_navTabs .nav-tabs .nav-item.show .nav-link, .subscribe_navTabs .nav-tabs .nav-link.active {
    color: #fff;
	background-color: #00C4F4;
}
	

.subscribe_tab_content{
	width: 100%;
	padding-top: 10px;
}
.subscribe_tab_content .card-header {
	padding: 0 0;
}
.subscribe_tab_content .card-header a{
	display: block;
	padding: 12px 14px;
    color: #00C4F4;
}
.subscribe_card_body{
	padding: 1rem;
}
.payment_continue_btn{
	background-color: #00C4F4;
	border: 1px solid #00C4F4;
	color: #fff;
	padding: 6px 13px;
	cursor: pointer;
	float: inline-end;
	margin: 4% 6% 7% 1%;
}
.payment_continue_btn:hover{
	background-color: #fff;
	border: 1px solid #00C4F4;
	color: #00C4F4;
}
.rd_segments_subscribers{
	margin: 8px 7px 0 -8px;
	border: 1px solid rgba(0,0,0, 0.2);
}
.rd_segments_subscribers li{
	border: 1px solid rgba(0,0,0,.2);
}
.d-grid{
	display: grid;;
}


/* graph and tables*/
.byType_info{
	border: 1px solid rgba(0,0,0,.1);
	height: 100%;
	position: relative;
	background: #DEF7FE;
}
.byType_info h3 , .byType_info p{
	padding: 5px 10px;
}
.byType_info a{
	border: 2px solid #00C4F4;
	padding: 5px 9px;
	color: #00C4F4;
    position: relative;
}

.byType_info div:last-child{
	bottom: 4px;
	position: absolute;
	display: block;
	width: 100%;
	padding: 1px 0 0px 0;
}
.rd_graphsTables{
	border: 1px solid rgba(0,0,0, 0.1);
}
.rd_gt_navTabs li{
	width: 50%;
    text-align: center;
}
.rd_gt_navTabs {
    display:none;
}
.rd_gt_navTabs .nav-item.show .nav-link, .rd_gt_navTabs  .nav-link.active {
    color: #00C4F4;
	background-color: #fff;
	border: 2px solid #00C4F4;
}
	
.rd_gt_navTabs .nav-item:hover .nav-link {
    color: #00C4F4;
	background-color: #fff;
	border: 2px solid #00C4F4;
}
.rd_gt_navTabs .nav-link{
    color: #00C4F4;
	background-color: #fff;
	border-radius: 0px !important;
	border: 2px solid rgba(0,0,0, 0.1);
}

@media(min-width:768px) {
    .rd_gt_navTabs {
        display: flex;
    }
    
    .rd_graphsTables_tab_content .card {
        border: none;
    }

    .rd_graphsTables_tab_content .card .card-header {
        display:none;
    }  

    .rd_graphsTables_tab_content .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .rd_graphsTables_tab_content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}
.custom_chart{
	width: 100%;
}
.custom_chart canvas{
	margin: 40px 0;
}
.graph_descript{
	padding: 0px 0px;
}
.graph_descript button{
	bottom: 0;
	position: absolute;
	right: 25%;
    left: 25%;
    margin: 0 auto;
}
/*  */
.sample_form_bynow{
	padding: 18px 9px 14px 28px;
}
.sample_form_bynow .sfb_first{
	border: 1px solid rgba(0,0,0, 0.1);
}
.sample_form_bynow .sfb_first li a{
	padding: 6px 14px;
	display: block;
	color: #000;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.sample_form_bynow .sfb_first li a.active{
	color: #00C4F4;
	border: 2px solid #00C4F4;
}
.sample_form_bynow .sfb_first li a:hover{
	background-color: #F0F0F0;
	text-decoration: none;;
}

.sample_form_bynow .sfb_second li{
	padding:0;
	display: block;
	color: #000;
}
.sample_form_bynow .sfb_second li label{
	display: block;
	cursor: pointer;
	padding:9px 13px;
}
.rd_sidebar{
	padding: 18px 28px 18px 28px;
}
.rd_sidebar .sfb_first{
	border: 1px solid rgba(0,0,0, 0.1);
}
.rd_sidebar .sfb_first li a{
	padding: 6px 14px;
	display: block;
	color: #000;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.rd_sidebar .sfb_first li a.active{
	color: #00C4F4;
	border: 2px solid #00C4F4;
}
.rd_sidebar .sfb_first li a:hover{
	background-color: #F0F0F0;
	text-decoration: none;;
}
.rd_sidebar .sfb_second li{
	padding:0;
	display: block;
	color: #000;
}
.rd_sidebar .sfb_second li label{
	display: block;
	cursor: pointer;
	padding:9px 13px;
}
.license_type{
	border: 1px solid rgba(0,0,0, 0.1);
}
.license_type .head-span{
	display: block;
	padding: 9px 13px;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	font-size: 17px;
	color: #00C4F4;
	font-weight: 600;
	letter-spacing: 1px;
}
.custom_bn_btn{
	padding: 6px 19px;
	border: 2px solid #20AC03;
	color: #20AC03;
}
.custom_bn_btn:hover{
	padding: 6px 19px;
	color: #fff;
	background-color: #20AC03;
	text-decoration: none;;
}
.bg_contact{
	background-color: #CCF2FB;
}
.radio-button,
.checkbox {
  position: relative;
  margin: 0;
}
.checkbox { 
	display: block; 
}

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 5px;
  padding: 0;
  visibility: hidden;
}
.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 2em;
  margin-bottom: 0;
}
.custom-radiobutton,
.custom-checkbox{
  position: absolute;
  display: block;
  top: 11px;
  left: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(73, 87, 100);
  background-color: white;
}
.ltBynwRadio{
	top: 12px;
}
.ltBynw {
	border: 0px;
}

.ltBynw ul li{
	/* width: 33%; */
	padding: 9px 0;
}
.ltBynw ul li label{
	display: inline-grid;
	padding: 10px 0;
	border: 1px solid rgba(0, 0, 0, .3);
	width: 100%;
	border-radius: 3px;;
}
.bynwLableVisi{
	padding: 0px 0 0 16px;
}
.bynwPrice{
	padding: 10px 12px;
	background:#eaeaea;
	right: 0;
	position: absolute;
	bottom: 0px;
	color:#00C4F4;
	border-radius: 4px;
}
.bynwPriceRd{
	padding: 10px 12px;
	background:#eaeaea;
	right: 0;
	position: absolute;
	bottom: 0px;
	color:#00C4F4;
	border-radius: 4px;
}
.bgwhite{	
	margin-top: 2px; 
	background: transparent;	 
}
.bynwrpTitle span{
	position: relative;
}
.bynwSecureConnection div:first-child i{
	font-size: 120px;
	color:#00C4F4;
}
/* .bynwSecureConnection div:first-child span{
	font-size: 20px;
	color:#0288d1;
	font-weight: 700;
} */
.bynwSecureConnection div:first-child {
	width: 100%;
	text-align: center;
}
#paymentContinue{
	background: #00C4F4;
	border: 1px solid #00C4F4;
	padding: 5px 23px;
	color:#fff;
	letter-spacing: 1px;
	cursor: pointer;
	margin: 20px 0;
}
#paymentContinue:hover{
	background: rgb(11, 75, 4);
	border: 1px solid rgb(11, 75, 4);
	padding: 5px 23px;
	color:#fff;
	letter-spacing: 1px;
	cursor: pointer;

}


.cc-selector{
	padding: 35px 0;
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.cc-selector .form-check{
	padding: 0;
}
.razorpay{background-image:url(../assets/images/Razorpay.png);
	width: 200px !important;}
.wiretransfer{background-image:url(../assets/images/WireTransfer.png);
	width: 200px !important;}
.paypal{background-image:url(../assets/images/paypal.png);
	width: 200px !important;}

.cc-selector input:active +.drinkcard-cc{opacity: .5;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
			filter: none;
			border: 2px solid #00C4F4;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:50px;
    -webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
	-moz-filter: brightness(1.8) grayscale(1) opacity(.7);
	filter: brightness(1.8) grayscale(1) opacity(.7);
	border: 1px solid rgba(0,0,0, 0.1);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
	-moz-filter: brightness(1.2) grayscale(.5) opacity(1);
	filter: brightness(1.2) grayscale(.5) opacity(1);
}
.secure_image{
	text-align: right;
}
/* .secure_image img{
	padding: 17px 0;
} */
/* #rdAccordion{
	top: 0;
	position: sticky;
	z-index: 99;
} */
.stickyNav{
	top: 0;
	position: sticky;
	z-index: 9;
	background: #fff;
}





.custom-radiobutton:after,
.custom-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: #00C4F4;
  transform: translateX(-50%) translateY(-50%);
}
.custom-radiobutton { border-radius: 50%; }
.custom-radiobutton:after { border-radius: 50%; }
input[type="radio"]:checked + span .custom-radiobutton:after,
input[type="checkbox"]:checked + span .custom-checkbox:after { display: block; }



/*  */
.fix_leftSidebar{
	padding: 18px 9px 14px 28px;
}
.fix_leftSidebar .top_fixLeftSideBar{
	border: 1px solid rgba(0,0,0, 0.1);
}
.fix_leftSidebar .top_fixLeftSideBar li a{
	padding: 6px 14px;
	display: block;
	color: #000;
	/* border-bottom: 1px solid rgba(0,0,0, 0.1); */
}
.fix_leftSidebar .top_fixLeftSideBar li a.active{
	color: #00C4F4;
	border: 2px solid #00C4F4;
}
.fix_leftSidebar .top_fixLeftSideBar li a:hover{
	/* background-color: #F0F0F0; */
	color: #00C4F4;
	text-decoration: none;;
}
/*  */
.custom_card_body{
	min-height: 403px;
}

.custom_data_table{
	overflow: auto;
	padding: 40px 0;
}



@media only screen and (max-width: 767px) {
    
	#custom_responsive_table table, 
	#custom_responsive_table thead, 
	#custom_responsive_table tbody, 
	#custom_responsive_table th, 
	#custom_responsive_table td, 
	#custom_responsive_table tr { 
		display: block; 
	}

	#custom_responsive_table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#custom_responsive_table tr { border: 1px solid #ccc; }
 
	#custom_responsive_table td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#custom_responsive_table td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
	#custom_responsive_table td:before { content: attr(data-title); }
}

.responsive_table_head tr th {
    padding: 9px 2px;
    font-size: 13px;
}
.responsive_table_body tr td{
    padding: 9px 13px;
    font-size: 13px;
}
.responsive_table_body tr td:nth-child(n+2){
    filter: blur(3px);
}
.responsive_table_head tr th {
	color: #00C4F4;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	font-weight: bolder;
}
.responsive_table_body tr td:first-child{
	color: #002856;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	font-weight: bolder;
}
/* ,.responsive_table_body tr td:first-child{
    padding: 9px 13px;
	font-size: 13px; */
	
	/* register page */

	.register_form input{
		padding: .3rem .75rem;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.3);
		border-radius: 2px;
	  }
	  .register_form input:focus{
		  box-shadow: none;
		  border-color: #00C4F4;
	  }
	  .register_head{
		background: #00C4F4;
		height: 255px;

		background-color: #00C4F4;
	}
	.register_head h1{
		font-weight: bolder;
		color: #fff;
		bottom: -30px;
		position: absolute;
		width: 100%;
		font-size: 3.6em;
	}
	.register_form input[type="submit"]{
		padding: 0.3rem 1.75rem;
		color: #fff;
		background-color: #00C4F4;
		background-clip: padding-box;
		border: 1px solid #00C4F4;
		border-radius: 0;
		margin-top: 10px;;
	  }
	  .register_form input[type="submit"]:hover{
		padding: 0.3rem 1.75rem;
		color: #00C4F4;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #00C4F4;
		border-radius: 0;
	  }
	  .plr-10{
		padding: 0 10px;
	}
	.plr-28{
		padding: 0 28px;
	}
	  /* .m-66{
		margin: 0px -64px;
	  }
	  
	  @media  screen and (min-width:1367px)
	  {
	  .inner-wrapper{
		  max-width: 1600px;
		  margin: 0 auto;
	  }} */
	
.top_social {
	padding: 4px 0px;
  }
  .social_icon {
	  position:relative;
	  text-align:center;
	  width:0px;
	  height:0px;
	  padding:17px;
	  border-top-right-radius: 	20px;
	  border-top-left-radius: 	20px;
	  border-bottom-right-radius: 20px;
	  border-bottom-left-radius: 	20px; 
	  -moz-border-radius: 20px 20px 20px 20px;
	  -webkit-border-radius: 20px 20px 20px 20px;
	  -khtml-border-radius: 20px 20px 20px 20px; 	
	  color:#FFFFFF;
  }
  .social_icon i {
	  font-size:17px;
	  position:absolute;
	  left:9px;
	  top:8px;
  }
  .social_icon.social {
	  float:left;
	  margin:0 10px 0 0;
	  cursor:pointer;
	  background:#222220 ;
	  color:#262626;
	  transition: 0.2s;
	  -moz-transition: 0.2s;
	  -webkit-transition: 0.2s;
	  -o-transition: 0.2s; 	
	  border: 1px solid #262626;
  }
  .social_icon.social:hover {
	  background:#00C4F4;
	  color:#fff;
	  border: 1px solid #00C4F4;
	  transition: 0.2s;
	  -moz-transition: 0.2s;
	  -webkit-transition: 0.2s;
	  -o-transition: 0.2s;
  }
  .social_icon.social:hover a i{
	color:#fff !important;
}
  .social_icon.social.fb a i {
	  left:11px;
	  color: #fff;
	  top:9px;
  }
  .social_icon.social.tw a i {
	  left:9px;
	  color: #fff;
  }
  .social_icon.social.in a i {
	  left:10px;
	  color: #fff;
  }  
/* FAQ Temporary page code */
/* input[type="radio"]:checked + span .custom-radiobutton:after,
input[type="checkbox"]:checked + span .custom-checkbox:after { display: block; }
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background: #00C4F4;
}
.nav-link{
	color: #00C4F4;	
} */
/* blog  */
.blog_details_img{
	height: 280px;
	width: 366px;
	background-color: #2badd9;
	float: left;
	shape-outside: inset(1% round 10%);
	margin-right: 26px;
	margin-bottom: 10px;
  }
  .blog_details_data{
	  padding: 10px 0;
  }
  .blog_details_data p{
	text-align: justify;
}
.other_page {
	padding-top: 4%;
}
.other_page p , .other_page li {
	text-align: justify;
}

/* Toc */

.nest {
	margin-left: 2rem;
  }
  .nest2 {
	  margin-left: 4rem;
	}

  .accordion-title {
	padding: .5rem;
  }
  .current {
	  color: orange !important;
	}
	/*My Profile */
	.user_profile_icon_list{
		left: 0;
		position: absolute;
		padding: 2px 7px;
		font-size: 20px;
	}
	.profile_dropdown {
		margin: -6px 0;
	}
	.profile_dropdown:hover .dropdown-toggle{
		background-color: #f2f2f2 !important;
		color: #024959;
	}
	.profile_dropdown:hover .dropdown-menu{
		display: block !important;
		background-color: #f2f2f2  !important;
	}
	.profile_dropdown a{
		padding: 3px 18px;
		margin-top: 0px;
		color: #00C4F4;
	}
	.profile_dropdown .dropdown-menu a{
		padding: 10px 0 !important;
		transition: all .1s ease-in;
	}
	.profile_dropdown .dropdown-menu a:hover{
		background-color: #f2f2f2 !important;
		color: #024959 !important;
	}
	.profile_dropdown .dropdown-menu{
		position: absolute;
		transform: translate3d(-92px, 48px, 0px) !important;
		top: 0px;
		right:  0px;
		will-change: transform;
		padding: 0 1px;
		min-width: 10rem !important;
		border: 1px solid rgba(0,0,0,.1);
		border-radius: 0px;
		opacity: 1;
	}
	.profile_dropdown .dropdown-menu .dropdown-item{
		padding:9px 0px;
		text-align: center;
		color: #00C4F4;
		background-color: #fff;
		font-size: 15px;
		opacity: 1;
		border-radius: 0px;
	}

	.profile_parent .nav-tabs {
		display:none;
	}
	.profile_parent{
		padding: 40px 13px;
		min-height: 700px;
	}
	@media(min-width:768px) {
		.profile_parent .nav-tabs {
			display: flex;
		}
		.profile_parent .card {
			border: none;
		}
		.profile_parent .card .card-header {
			display:none;
		}  
		.profile_parent .card .collapse{
			display:block;
		}
	}
	
	@media(max-width:767px){
		.profile_parent .tab-content > .profile_parent .tab-pane {
			display: block !important;
			opacity: 1;
		}
	}

/*  */



.profile_account_panel .tabs_wrapper {
	text-align: center;
	margin: 0 auto;
	background: transparent;
}
.profile_account_panel .ap_ul_tabs.tabs {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 10;
	margin: 25px 0 0;
	padding: 0;
	width: 23%;
	min-width: 175px;
	list-style: none;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	/* border: 1px solid rgba(0,0,0, 0.1); */
	/* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); */
}
.profile_account_panel .ap_ul_tabs.tabs li {
	margin:6px 0;
	cursor: pointer;
	padding: 5px 15px;
	color: #0f0f0f;
	text-align: left;
	font-weight: bold;
	background-color: #666;
	background: transparent;
	transition: all 0.3s ease;
}
.profile_account_panel .ap_ul_tabs.tabs li:hover {
	background: rgba(229, 229, 229, .5);
	color: #00C4F4;
	transition: all 0.3s ease;
	
}
.profile_account_panel .ap_ul_tabs.tabs li.active {
	background: rgba(229, 229, 229, .5);
	color: #00C4F4;
	transition: all 0.3s ease;
	/* box-shadow: 2px 0px 1px 1px rgb(0, 197, 245); */
}
.profile_account_panel .tab_container {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 20;
	left: -2%;
	width: 70%;
	min-width: 10px;
	text-align: left;
	background: white;
	border-radius: 12px;
	/* border: 1px solid rgba(0,0,0, 0.1); */
	/* top: 24px; */
}
.profile_account_panel .tab_content {
	padding: 20px;
	height: 100%;
	display: none;
}
.profile_account_panel .tab_drawer_heading {
	display: none;
}
@media screen and (max-width: 781px) {
	.profile_account_panel .ap_ul_tabs.tabs {
		display: none;
   }
   .profile_account_panel .tab_container {
		display: block;
		margin: 0 auto;
		width: 95%;
		border-top: none;
		border-radius: 0;
		box-shadow: 0px 0px 3px gray;
   }
   .profile_account_panel .tab_drawer_heading {
		background-color: #ccc;
		background: #00C4F4;
		color: #fff;
		/* margin: 0; */
		padding: 5px 20px;
		display: block;
		cursor: pointer;

		user-select: none;
		text-align: center;
   }
   .profile_account_panel .tab_drawer_heading:hover {
		background: #ccc;
		background: #00C4F4;
		color: white;
   }
   .profile_account_panel .d_active {
		background: #fff;
		background: #00C4F4;
		color: #ddd;
   }
}

.ap_account_details ul li{
	padding: 10px 10px;
    border-bottom: 1px solid antiquewhite;
}

.update_profile_btn{
	background-color: #00C4F4;
	border: 1px solid #00C4F4;
	color: #fff;
	padding: 6px 13px;
	cursor: pointer;
	margin: 4% 6% 7% 1%;
}
.update_profile_btn:hover{
	background-color: #fff;
	border: 1px solid #00C4F4;
	color: #00C4F4;
}

.submit_btn{
	background-color: #00C4F4;
	border: 1px solid #00C4F4;
	color: #fff;
	padding: 6px 23px;
	cursor: pointer;
	margin: 4% 6% 7% 0%;
}
.submit_btn:hover{
	background-color: #fff;
	border: 1px solid #00C4F4;
	color: #00C4F4;
}
.profile_card_header{
	padding: 0;
}
.profile_card_header a{
	display: block;
	padding: 8px 13px;
	color: #00C4F4;
}
.prchasedReport{
	padding:10px 25px;
	border: 1px solid rgba(0,0,0, 0.1);
	border-radius: 7px;
	transition: all .2s ease-in;
}
.prchasedReport .first ul li{
	font-size: 14px;
	opacity: .5;
}
.my_report {
	color: black;
	transition: all .5s ease-in;
}
.my_report:hover{
	text-decoration: none;
	color: black;
}
.my_report:hover .prchasedReport{
	text-decoration: none;
	color: black;
	border: 0px solid rgba(0, 197, 245, .2);
	box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.13);
	transform: scale(1.05);
}
.my_report_icon{
	font-size: 40px;
	color: #00C4F4;
	padding-left: 10px;
}
.prchasedReport:hover .first .my_report_icon{
	transform: scale(1.2);
	/* padding-left: 30px; */
	transition: all .5s ease-in;
}
.alert_notify{
	background: aliceblue ;
}
.w-100{
	width: 100%;
}


/* Comapny Profiles */

.cp_breadcrumb{
	background-color: #fff;
	padding: 0;
	font-size: 12px;;
}
.cp_breadcrumb li:first-child{
	padding-top: 4px;;
}

.cp_table thead tr th:first-child {
	text-align: initial ;
	width: 30%;
}
.cp_table tbody tr td:first-child {
	text-align: initial ;
	color: #00C4F4;
	font-weight: 600;
	letter-spacing: 1px;
	width: 30%;
}
.cp_table tbody tr td:first-child a{
	color: #00C4F4;
	letter-spacing: 1px;
}
.cp_table {
	/* border: 1px solid #ccc; */
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
  }
  .cp_table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
  }
  
  .cp_table tr {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: .35em;
  }
  .cp_table th,
  .cp_table td {
	padding: 7px 13px;
	text-align: center;
  }
  .cp_table th {
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
	font-weight: 500;
	color: #000
  }
  
  @media screen and (max-width: 600px) {
	.cp_table {
	  border: 0;
	}
	.cp_table caption {
	  font-size: 1.3em;
	}
	.cp_table tbody tr td:first-child {
		text-align: end !important;
		width: auto;
	}
	.cp_table thead {
	  border: none;
	  clip: rect(0 0 0 0);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}
	.cp_table tr {
	  border-bottom: 3px solid #ddd;
	  display: block;
	  margin-bottom: .625em;
	}
	.cp_table td {
	  border-bottom: 1px solid #ddd;
	  display: block;
	  font-size: .8em;
	  text-align: right;
	}
	.cp_table td::before {
	  /*
	  * aria-label has no advantage, it won't be read inside a table
	  content: attr(aria-label);
	  */
	  content: attr(data-label);
	  float: left;
	  font-weight: bold;
	  /* text-transform: uppercase; */
	}
	
	.cp_table td:last-child {
	  border-bottom: 0;
	}
  }
  .cp_table_parent{
	  height: 400px;
	  overflow: auto;
  }
  .cp_internal_table{
	  width: 82%;
	  margin: 0 auto;
  }
  @media screen and (min-width: 601px) {
  .cp_internal_table thead tr th{
	text-align: center !important;
}
.cp_internal_table tbody tr td{
	text-align: center !important;
	color: #000 !important;
}
  }
  
  .cp_keypoints ul li{
	padding: 4px 6px;
	color: #00C4F4;
  }
  .cp_keypoints ul li a{
	font-size: 18px;
	color: #00C4F4;
  }
  .download_icons_parent{
	max-width: 261px;
	border: 1px solid rgba(0,0,0,.1);
	margin: 0 auto;
  }
  .download_icons_parent ul{
	padding: 25px 9px 9px 9px;
  }
  .download_icons_parent ul li {
	padding: 0 12px;
  }
  .download_icons_parent ul li a{
	display: grid;
  }
  .download_icons_parent ul li a span:first-child i{
	font-size: 27px;
	padding: 8px 10px;
	border: 1px solid rgba(0,0,0, 0.1);
  }
  .download_icons_parent ul li:first-child a span:first-child i{
	color: #FF2020;
  }
  .download_icons_parent ul li:nth-child(2) a span:first-child i{
	color: #F6712E;
  }
  .download_icons_parent ul li:last-child a span:first-child i{
	color: #1C6D42;
  }
 .download_icons_parent ul li a span{
	text-align: center;
  }
  .download_icons_parent ul li a span:nth-child(2){
	color: #000;
	letter-spacing: 1px;
	opacity: .5;
	font-size: 15px;
  }
  .download_icons_parent ul li:hover a {
	text-decoration: none !important;
  }
  .download_icons_parent ul li:hover a span:first-child i{
	
	box-shadow:  0 2px 4px rgba(0,0,0,0.25);
  }
  .download_icons_parent ul li:hover a span:nth-child(2){
	opacity: 1;
  }
  /* new RD */

	.rd_report_title h1{
		text-align: justify;
		opacity: .86;
	}
	.rd_internal_new_img{
		max-height: 130px;
		width: 100%;
	}

	/* new rd left side bar accordian  */
	

.rd_accordian {
	width: 100%;
	max-width: 360px;
	margin: 16px 0 10px;
	background: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 0px;
    border: 1px solid rgba(0,0,0,.3);
}
  
  .rd_accordian .link {
	cursor: pointer;
	display: block;
	padding: 10px 24px 10px 14px;
	color: #4D4D4D;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
  
  .rd_accordian li:last-child .link { border-bottom: 0; }
  
  .rd_accordian li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
  
  .rd_accordian li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 12px;
  }
  
  .rd_accordian li.open .link { 
	color: #000;
	background: #EAEAEA;
	color: #002856;
   }
  
  .rd_accordian li.open i { color: #00C4F4; }
  
  .rd_accordian li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  
  /**
   * Submenu
   -----------------------------*/
  
  
  .rd_accordian_submenu {
	display: none;
	background: #fff;
	font-size: 14px;
  }
  .rd_accordian_submenu a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 7px 0px;
	padding-left: 42px;
	-webkit-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
  }
  
  .rd_accordian_submenu a:hover {
	background: #fff;
	color: #002856;
  }
  .rd_accordian .rd_download_sample a{
	  background: #00C4F4;
	  color: #fff;
  }
  .rd_accordian .rd_download_sample a:hover{
	text-decoration: none;
	background: rgb(35, 230, 9);
}


/**/
/**/
/**/
/*Main filter */

.filter_nn_main_li{
	margin: auto;
	width: auto;
	border: 1px solid #EAEAEA;
}
.filter_nn_main_li:hover{
	background: #EAEAEA;
}
.filter_nn_main_li .filter_nn_main_li_1_a{
	color: #024A59 !important;
	/* padding-left: 0 !important;
	padding-right:   */
	padding: 12px 40px 12px 0 !important;
	display: grid;
	text-indent: 16px;
	font-weight: bold;
	letter-spacing: 1px;
}

.by_location .nav-pills .nav-link{
	color: rgba(0,0,0, 0.8);
}
.by_location .nav-pills .nav-link.active{
	/* background: #00C4F4;
	color: #fff !important	; */
	color: rgba(0,0,0, 0.8);
}
.filter_nn_main_li_d_menu{
	border-radius: 0px;
	border-top: 0;
}
/*  */
.filter_nn_main_li_1_a[aria-expanded="true"]{
	background:#EAEAEA;
}

.by_location .nav-pills .nav-link:hover{
	/* background: #00C4F4;
	color: #fff; */
	color: rgba(0,0,0, 0.8);
}
.filter_nav{
	/* border-bottom: 1px solid rgba(0,0,0, 0.2); */
	padding: 0.76rem 0rem;
}
.filterHeading{
	display: block;
	text-align: center;
	background:#EAEAEA;
	font-size: 17px;
	letter-spacing: 1px;
}
.filter_layout{
	font-size: 14px;
}
.filter_layout img{
	padding-bottom: 5px;
    padding-right: 7px;
    width: 30px;
    height: 20px;

}
.filter_layout:hover{
	background-color: #F9F9FA;
}
.filterHeight{
	height: 288px;
	overflow-y: auto;

}
.cityMarkerIcon{
	padding:3px 6px;
	font-size: 18px;
	color:gray;
}
.filtertypeIcons{
	padding: 3px 0;
color:gray;
width: 45px;
font-size: 16px;
text-align: center;
}
.filterConfirmDiv{
	width: 100%;
	text-align: right;
	padding: 38px 27px 16px 0;
}
.filterConfirmDiv button{
	background:#00C4F4;
	border: 0px;
	padding: 5px 30px;
	font-size: 18px;
	letter-spacing: 1px;
	color:#fff;
	cursor: pointer;
	border-radius: 1px;
	font-weight: 700;;
}
.rd_content {
	padding: 0 2px;
}
.rd_content p{
	text-align: justify;
}
.rd_in_right_content{
	display: flex;
}

.rd_internal_img{
	width: 151px;
	height: 166px;
	/* background:#00C4F4; */
}
.rd_in_cagr{
	font-size: 14px;
	padding: 4px 6px;
	border: 1px solid 	rgba(0,0,0,.3);
	border-radius: 2px;
	width: 125px;
	margin-bottom: 5px;
}
.rd_in_cagr li{
	position: relative;
}
.rd_in_cagr li span:last-child{
	font-size: 12px;
	opacity: .5;
	top: -7px;
	position: absolute;
	right: -2px;
}

.custom_dropright{
	position: relative;
	background: #fff;
}
.custom_dropright_submenu {
	position: absolute;
	left: 100%;
	transition: all 1s ease;
	top: 0 !important;
	/* margin-left: 10px !important; */
	background: #EAEAEA;
	padding: 0 0;
	margin-left: 0px !important;
	border-radius: 1px;		

  }

  .custom_dropright_submenu li a{
	display: block;
	padding:6px 10px !important;
	font-size: 14px;
	letter-spacing: 1px;;
  }
  .custom_dropright_submenu li:hover a{
	background: #EAEAEA;
  }
 
.custom_dropright:hover>.custom_dropright_submenu , .custom_dropright:hover> #triangle-left {
	display: block !important;
  }

  .custom_dropright a[aria-expanded="true"] #triangle-left{
	display: block !important;
  }
  #triangle-left {
	display: none !important;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
	border-right: 7px solid rgba(0, 0, 0, .8);
	border-bottom: 4px solid transparent;
	left: 97.5%;
	position: absolute;
	top: 14px;
}
#sub-triangle-left{
	display: none !important;
    width: 0;
    height: 0;
	border-top: 4px solid transparent;
	border-right: 7px solid rgba(0, 0, 0, .8);
	border-bottom: 4px solid transparent;
	left: 96.5%;
	position: absolute;
	top: 12px;
}
.custom_dropright_submenu_child_dropdmenu{
	position: absolute;
	left: 100%;
	transition: all 1s ease;
	top: -1px !important;
	/* margin-left: 10px !important; */
	background: #fff;
	padding: 0 0;
	margin-left: 0px !important;
	border-radius: 1px;;
}
.custom_dropright_submenu_child_dropdmenu  a{
	background: #fff !important;
}
.custom_dropright_submenu_child:hover>.dropdown-menu , .custom_dropright_submenu_child:hover>#sub-triangle-left{
	display: block !important;
}
.rd_download_icons_parent{
	margin: 0;
	max-width: 100%;
}
.rd_download_icons_parent ul{
	padding: 0px 0;
	width: 100%;
}
.rd_download_icons_parent ul li{
	width: 33.33%;
	padding: 0;
}


.expand_read {
	cursor: pointer;
	display: block;
	width: auto;
	margin-top: 0rem;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 0;
	background-color:#002856;
	color:white;
	font-size: 14px;
	padding: 3px 9px;
	letter-spacing: 1.5px;
	word-spacing: 1px;
	border: 1px solid #002856;
  }
  .expand_read:hover, .expand_read:active, .expand_read:focus {
	background-color: #002856;
	box-shadow: 0 0 0 .2rem rgb(255, 255, 255);
  }
  .expand_read:hover{
	  background: #fff;
	  color: #002856;
	  border: 1px solid #002856;
  }
  .special-text {
	position: relative;
	max-height: 296px;
	overflow: hidden;
	transition: max-height 1s ease;
  }
  .special-text.-expanded {
	max-height: 100vh;
  }
  .special-text:not(.-expanded)::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(rgba(255, 255, 255, 0), white);
  }

  /* Subscribe Modal  */

  .subscribe_modal{
	background: transparent;
	border: 0px;
	display: contents;
  }
  .mo_subscribe_content{
	background:	aliceblue !important;
	padding: 24px 0;
	text-align: center;
	margin: 155px 0px 7px 0px;
	transform: rotate(-14deg);
  }
  .mo_subscribe_img{
	left: -51px;
	position: relative;
	z-index: -1;
  }
  /* ================ */
.rdByFilter_parent{
	padding: 4px 0;
}
.firstOpen{
	display: block;
}
@media screen and (min-width:992px) and (max-width:1150px){
	.rd_listing_img{
		height: 169px !important;
	}
}
.report_text div:first-child a p {
		font-size: 16px !important;
}
.modal-dialog{
	bottom: 10% !important;
}


/*  */

.custom_dropright_submenu {
	display: none !important;
}


/* Media Queries for Max 767px */
@media screen and (max-width:767px){
	.custom_dropright_submenu , .custom_dropright_submenu_child_dropdmenu{
		float: inherit;
		position: inherit;
		left: 0;
	}
	.custom_dropright_submenu{
		padding: 0 0 0 49px;
		opacity: .7;
		background: #fff;
		border: 0px;
	}
	.custom_dropright_submenu_child_dropdmenu{
		padding: 0 0 0 27px;
		opacity: .7;
		background: #fff !important;
		border: 0px;
	}
	.custom_dropright .dropdown-menu{
		display: none !important;
	}
	.custom_dropright .dropdown-menu{
		position: relative !important;
		transform: translate3d(0px, 0px, 0px) !important;
	}
	.custom_dropright_submenu li a{
		font-size: 13px;
	  }
	  .custom_dropright_submenu_child_dropdmenu li a{
		font-size: 12px !important;
	  }
	  .rd_accordian_submenu a {
		padding-left: 30px;
	  }
	  .rd_accordian {
		max-width: 100%;
	  }
	  .rd_report_title h1{
		  font-size: 20px;
	  }
	  .rd_report_title span{
		font-size: 16px;
		opacity: .7;
	}
	.rd_graphsTables{
		margin-top: 30px;
		border: 0px;
	}
	.rd_graphsTables table{
		border: 0px;
	}
	.rd_graphsTables .card .card-header{
		padding: 0;
	}
	.rd_graphsTables .card .card-header h5 a{
		padding: .75rem 1.25rem;
		display: block;
	}
	.clistborder{
		border-right: 0px solid #00C4F4 !important;
		padding-left: 0 !important;
	}
	.clistborderL{
		border-left: 0px solid #00C4F4 !important;
		padding-left: 0 !important;
	}
	.left_category{
		float: left !important;
	}
	.right_category{
		float: left !important;
	}
	.custom_card_body{
		padding: 0;
	}
	.select_cat h1 {
		background:#fff;
		margin-bottom: 10px;
	}
	.category_search_group {
		width: 100% !important;
	}
}

/* Media Queries for Max 767px End*/


@media screen and (max-width:991px){
	.rd_in_right_content{
		width: 100% !important;
	}
	.rd_in_right_content img , .rd_in_right_content ul{
		width: 100%;
	}
	.expand_read{
		margin-bottom: 30px;
	}
	.mobile_hidden_lg{
		display: none;
	}
}

/* Category Page */
.select_cat{
	width: 100%;
	font-size: 20px;
	font-weight: 600;
}
.select_cat h1{
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
}
.category_list a{
	display: block;
	/* text-indent: 10%; */
	/* margin: 2px 0; */
	padding: 7px 10px;
	transition: all .3s ease-in-out;
	display: flex;
}
.category_list a:hover{
	text-decoration: none;

}
.category_list a:hover span:last-child{
	color: #00C4F4 !important;
}
.category_list a span:first-child img{
	transition: all .3s ease-in-out;
}
.category_list a:hover span:first-child img{
	transform: rotate(-40deg);
}
.clistborder{
	border-right: 1px solid #00C4F4;
	padding-right: 10%;
}
.clistborderL{
	border-left: 1px solid #00C4F4;
	padding-left: 10%;
}
.category_list a span:last-child{
	color:black;
	margin: auto 0 auto 10px;
	font-weight: bold;
	letter-spacing: 1px;
}
.left_category{
	float: right;
}
.right_category{
	float: left;
}
.category_parent_row{
	background-color: #eaeaea;
}
.orClass{
	width: 100%;
	padding-top: 10px;
}
.category_search_group {
	width: 90%;
	margin: 0 auto;
}
.category_search_group input::placeholder {
	color: #000;
	opacity: 1 !important;
}
.category_search_group input {
	border: 0px solid #00C4F4;
}
.category_search_group .custom_form_control{
	border-radius: 0px;
	height: 47px;
}
.category_details_img img{
	/* height: 400px; */
	margin: -93px 0 0 -31px;
	max-width: 100%;
	height: auto;
}
.category_details_img {
	background-image: url("../assets/images/health-details.png");
	background-repeat: no-repeat;
	background-position: center;
}
.category_trends_topics a{
	padding: 2px 12px;
	font-size: 13px;
	margin: 3px 6px;
	background: #eaeaea;
	color: #000;
	border:1px solid #eaeaea;
	white-space: pre;
}
.category_trends_topics a:hover{
	background: #00C4F4 !important;
	color: #fff;
	border:1px solid #00C4F4;
}
.category_details a h3{
	font-size: 36px;
	padding: 29px 1px;
	color: #000;
}
.category_details a:hover{
	background: #eaeaea;
	text-decoration: none;
}
.category_details a h3:hover {
	color: #00C4F4;
}

/* Subscribe Page */
.subscribe_custom_checkbox{
	position: relative;
	display: block;
	top: 0px;
	left: 24%;

	/* width: auto; */
	height: auto;
	border: 0px solid rgb(73, 87, 100);
	background-color:#fff;
	/* text-align: initial	; */
	
}
.subscribe_custom_checkbox label{
	cursor: pointer;
	box-shadow: none;

}
.subscribe_custom_checkbox label:focus{
	box-shadow: none;
	
}
.subscribe_custom_checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: 
    #00C4F4;
}
.subscribe_cart_icon{
	font-size: 23px;
	padding: 0 9px;
	color:#00C4F4;
}

.subscribeSelect{
	bottom: 0 !important;
	max-width: 75%;
}
.subscribeSelectTable{
	width: 100%;
}
.total_count{
	text-align: center;
	padding: 20px 0;
}
.total_count span:first-child{
	letter-spacing: 1px;
}
.total_count span:last-child{
	letter-spacing: 1px;
	color: #00C4F4;
	font-weight: bolder;
	font-size: 20px;
	background: #eaeaea;
	padding: 4px 12px;
}

.selecteGraphParent table , .selecteChaptersParent table ,.subscribeSelectTable{
	border: 3px solid rgba(0, 0, 0, .1);
}
.selecteGraphParent table thead tr , .selecteChaptersParent table thead tr{
	background: #eaeaea;
}
.selecteGraphParent table thead tr th, .selecteChaptersParent table thead tr th{
	color: rgba(0, 0, 0, .8);
	letter-spacing: 1px;
}
.subscribeSubmitButton{
	text-align: right;
}
.subscribeSubmitButton input{
	background:#00C4F4;
	padding: 6px 22px;
	font-size: 16px;
	letter-spacing: 1px;
	border: 0;
	color:#fff;
	cursor: pointer;
}
.subscribeSelect .modal-content{
	border-radius: 0;
}
.removeItems i{
	font-size: 21px;
	display: block;
	color:#ef5350;
}
.removeItems:hover {
	text-decoration: none;
}
.removeItems:hover i{
	color: #d50000;
}
/*  */
/* New Top Navbar */
	.custom-top-navbar{
		padding: 10px 10px;
	}
	@media screen and (max-width:991px){
		.custom-top-navbar{
			padding: 0 28px;
		}
		.custom-top-navbar .navbar-nav{
			width: 100%;
			margin-top: 7px;
		}
		.custom-top-navbar .navbar-nav a{
			padding: 4px 0 6px 0;
			margin: 0 10px;
			font-size: 15px;
		}
		.login_btn{
			border-radius: 2px !important;
			background: #fff;
			color: #000 !important;
			margin-bottom: 20px !important;
			margin-top: 16px !important;
			border: 1px solid #000;
		}
		.profile_btn{
			border-radius: 2px !important;
			background: #fff;
			color: #000 !important;
			margin-bottom: 20px !important;
			margin-top: 16px !important;
		}
		#menu li a,#menu li.active a{
		padding: 7px 0px;
		display:block;
		}
		#navbarSupportedContent{
			background: #002856	;
			margin-top: 2px;
			border: 1px solid aliceblue;
			border-top: 0;
		}
		#menu li a{
			text-decoration:none;
			color: #fff;
		}
		#menu li a:hover{
			color: #fff;
		}
			
	}
	@media screen and (min-width:992px){
	.login_btn{
		padding: 6px 22px !important;
		border-radius: 0px;
		color: #fff !important;
		background: #00C4F4;
	}
	.login_btn:hover{
		padding: 6px 22px !important;
		border-radius: 0px;
		color: #00C4F4 !important;
		background: #fff;
		border: 1px solid #00C4F4;

	}
	.profile_btn{
		padding: 6px 15px !important;
		border-radius: 0px;
		color: #00C4F4 !important;
		background: #fff;
	}
	.profile_btn:hover{
		padding: 6px 15px !important;
		border-radius: 0px;
		color: #00C4F4 !important;
		background: #fff;
		/* border: 1px solid #00C4F4; */

	}
	.custom-top-navbar .navbar-toggler{
		outline: none;
		border-radius: 0px;
	}
	.ptb-10{
		padding: 10px 0 !important;
	}
	}
	.toggler-error-page{
		background-color: #00C4F4;
	}
	.custom-top-navbar .container-fluid{
		padding-right: 0;
	}
	.ptb-7{
		padding: 7px 0;
	}

@media screen and (max-width:991px){
	.profile_btn{
		display: none;
	}
	.hidemax991{
		display: none !important;
	}
	.profile_dropdown:hover .dropdown-menu {
		display: block !important;
		background-color: transparent !important;
	}
	.profile_dropdown .dropdown-menu {
		position: absolute;
		transform: translate3d(-5px, -10px, 0px) !important;
		top: 0px;
		right: 0px;
		will-change: transform;
		padding: 0 1px;
		min-width: 10rem !important;
		/* border: 1px solid rgba(0,0,0,.1); */
		border-radius: 0px;
		opacity: 1;
	}
}
@media screen and (min-width:992px){
	.hidemin992{
		display: none !important;
	}
	
}

/* Top Navbar End */
/*  */

/* New Blogs */
/* 
.main-area {padding: 2em;}
.cards p {margin-bottom: 1.5em;}
.cards h2 {font-size: 1.5em;}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
} */

/* Flexbox */
/* @media screen and (min-width: 50em) {
    
    .outer-wrap {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .content {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    .main-area {
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }
  
} */



/* New Company Profiles General */
.cp_table_parent_genr{
	height: 100% !important;
}
.cp_sel_category{
	border: 2px solid rgba(0, 0, 0, .1);
}
.cp_sel_category li{
	padding: 8px 9px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.cp_sel_category li:first-child{
	background: #eaeaea;
}
.cp_sel_category li .form-check label{
	display: block;
}
.cp_sel_category li:hover {
	background: #eaeaea;
}
.cp_table_genr tbody tr td a img{
	width: 50px;
	height: 50px;
	margin-left: 35px;
}
.cp_table_genr tbody tr td a {
	display: inline-block;
}
.cp_table_genr tbody tr td:first-child:hover {
	background: #eaeaea;
}
.cp_main_col{
	border: 1px solid rgba(0, 0, 0, .1);
}
.cp_details_lftsbar{
	border: 1px solid rgba(0, 0, 0, .1);
}
.cp_details_lftsbar li{
	padding: 0 0;
}
.cp_details_lftsbar li a{
	padding: 8px 10px;
	display: block;
	color:black;
	opacity: .8;
}
.cp_details_lftsbar li a:hover{
	background: #EAEAEA;
	text-decoration: none;
}
.cp_details_lftsbar li a.active{
	background: #EAEAEA;
	opacity: 1;
	color: #00C4F4;
}
.cp_details_top_left{
	text-align: center;
	align-self: center;
}
.cp_details_top_left .cp_details_comp_name h1{
	font-size: 22px;
	padding: 10px 0;
	color:green;
}
.cp_details_top_right{
	padding: 12px 43px;
	align-self: center;
	text-align: justify;
}
.cp_details_comp_logo img{
	width: 125px;
	height: 125px;
	margin: 0 auto;
}
.cp_details_comp_info{
	text-align: justify;
}
.cp_details_comp_info div{
	border: 1px solid rgba(0, 0, 0, .1);
	padding: 0 28px;
}
.cp_details_top_table{
	margin: 0;
	border-bottom: 3px solid rgba(0, 0, 0, .6);
}
.cp_details_top_table th{
	padding: 10px 48px 0 0;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: bold;
}
.cp_details_top_table td {
	padding: 5px 48px 10px 0;
	letter-spacing: 1px;
	font-size: 18px;
}
/* ***************************************** */


/* New-blogs.html */

.stay_subscri{
	float: right;
}
@media screen and (max-width:767px)
{
	.stay_subscri{
		float: left;
	}
}


/* * {
	margin: 0;
}
 */

/* figure {
	display: block;
	background-color: #fff;
	-ms-interpolation-mode: bicubic;
}

figure img {
	display: block;
	width: auto;
	max-width: 100%;
}

:root {
	--master-color: #c19f63;
	--master-color-partner-dark: #7c591d;
	
	--headings-color: #263358;	
	
	--main-bg-color: #fff;
	--secondary1-bg-color: #fff;
	--secondary2-bg-color: #fff;
	
	--main-txt-color: #333;
	--secondary-txt-color: #757575;
	
	--sub-color: #b4b4b4;
}
 */

.blog_list_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: stretch;
}

.blog_list {
	display: grid;
	grid-template-areas: 
		"header"
		"footer"
		"pr_img";
	grid-auto-rows: 1fr auto auto;
	align-items: start;
	grid-gap: 1em 0;
}

.blog_list:nth-child(2n+1) {
	background-color: var(--secondary1-bg-color);
}

.blog_list:nth-child(3n+2) {
	grid-template-areas: 
		"pr_img"
		"header"
		"footer";
	grid-auto-rows: auto 1fr auto;	
}

.new_blog_img {
	grid-area: pr_img;
}

.blog_header{
	grid-area: header;
}
.blog_header h2{
	font-size: 21px;
}
.blog_header h2 a{
	color: #022D33;
}
.blog_header h2 a:hover{
	text-decoration: none;
}
.blog_meta {
	grid-area: footer;
	align-self: start;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.blog_list {
	margin-bottom: 4em;
} 
 
.blog{
	position: relative;
	padding: 1.6em;
} 

.blog:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, .2);
	z-index: 2;
	opacity: 0;
	-webkit-transition: all .25s ease-out;			
			transition: all .25s ease-out;
}
.blog:hover .blog_header h2 {
	-webkit-transition: all 300ms ease-in-out;
    -webkit-transform: scale(1.02);
    -ms-transition: all 300ms ease-in-out;
    -ms-transform: scale(1.02);   
    -moz-transition: all 300ms ease-in-out;
    -moz-transform: scale(1.02);
    transition: all 300ms ease-in-out;
    transform: scale(1.02);
}
.blog:hover .blog_meta .blog_read_count {
	-webkit-transition: all 300ms ease-in-out;
    -webkit-transform: scale(1.02);
    -ms-transition: all 300ms ease-in-out;
    -ms-transform: scale(1.02);   
    -moz-transition: all 300ms ease-in-out;
    -moz-transform: scale(1.02);
    transition: all 300ms ease-in-out;
	/* transform: scale(1.3); */
	color: #022D33;
}
.blog:hover{
	-webkit-transition: all 300ms ease-in-out;
    -webkit-transform: scale(1.02);
    -ms-transition: all 300ms ease-in-out;
    -ms-transform: scale(1.02);   
    -moz-transition: all 300ms ease-in-out;
    -moz-transform: scale(1.02);
    transition: all 300ms ease-in-out;
	transform: scale(1.05);
	z-index: 9;
	background: #fff;
}
.blog:hover:after {
	opacity: 1;
}

.blog> * {
	z-index: 4;
	position: relative;
}

.new_blog_img {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
}

.new_blog_img img {
	width: 100%;
    height: auto;
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    margin: auto;
}

.blog_time {
	color: var(--sub-color);
}

.blog_meta a {
	color: var(--sub-color);
	text-decoration: none;
	border-bottom: 1px var(--sub-color) solid;
}

.blog_meta a:hover {
	color: var(--master-color-partner-dark);
}

.blog_read_count {
	position: relative;
	padding-left: 0px;
}

@media all and (max-width: 900px) {
	.blog_list_grid {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.blog_list:nth-child(n) {
		background-color: transparent;
		grid-template-areas: 
			"header"
			"footer"
			"pr_img";
		grid-auto-rows: 1fr auto auto;
	}
	
	.blog_list:nth-child(4n), 
	.blog_list:nth-child(4n+1) {
		background-color: var(--secondary1-bg-color);
	}
	
	.blog_list:nth-child(even) {
		grid-template-areas: 
			"pr_img"
			"header"
			"footer";
		grid-auto-rows: auto 1fr auto;	
	}
}

@media all and (max-width: 670px) { 
	.blog_list_grid {
		grid-template-columns: 1fr;
	}
	
	.blog_list:nth-child(n) {
		background-color: var(--secondary1-bg-color);
		grid-template-areas: 
			"header"
			"footer"
			"pr_img";
		grid-auto-rows: 1fr auto auto;
	}
	
	.blog_list:nth-child(even) {
		background-color: transparent;
	}
} 
/*  */

/* Tarun 10122019 */
.hasaccount{display: inline;}
.hasaccount:checked{display: inline;}
.desk_width_94{width: 94%;}
/*  */