/* created on 24 Jan 2020 */

/* Subscribe page */

.userslicense label {
    display: inline-block;
    padding: 6px 0px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s;
    border-radius: 2px;
    cursor: pointer;
    opacity: .6;
    position: relative;
    z-index: 5;
    min-width: 145px;
  }
  
  .userslicense input[type="radio"] {
    display: none;
  }
  
  .userslicense input[type="radio"]:checked + label {
    color: #fff;
    border: 1px solid #00C4F4;
    background-color: #00C4F4;
    opacity: 1;
  }
  .userslicense label:hover {
    color: #fff;
    border: 1px solid #00C4F4;
    background-color: #00C4F4;
    opacity: 1;
  }
  .userslicense{
    padding: 20px 0;
}

.userslicense input[type="radio"]:checked + label::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    bottom: -17px;
    left: 51px;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: #00C4F4;
    z-index: -1;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }




/* @media screen and (max-width:395px)
{
	.userslicense label{
        padding: 5px 5px;
    }
} */
/*  */
/* Company details */

.more_companies{
	padding: 17px 0 0 15px;
	
}
.more_companies h3{
	font-size: 15px;
	font-family: cabin;
	opacity: .8;
	padding: 0 0 0 15px;
	margin: 0;
}
.more_companies ul{
	padding: 5px 0 0 31px;
}
.more_companies ul li a{
	padding: 3px 2px;
	font-size: 14px;
    color: rgba(0,0,0,.7);
    display: block;
}
.more_companies ul li a:hover{
    text-decoration: none;
    color: #002856;
}
/*  */
/*  */
.inner-wrapper{
    /* overflow: hidden; */
}
/*  */

/* Buy Now */

.customerInfopanes input::placeholder{
	font-size: 13px;
	letter-spacing: .04em;
}
.packBuy{
  padding: 0px 0 0 0;
}


/* unpublished rd */

.d-sample{
  background: #00499E !important;
  color: #fff;
}
.title-head{
  color: #00C4F4;
  font-size: 18px;
  letter-spacing: .05em;
}
.rdPage-lycense{
  position: relative;
  border: 1px solid rgba(0,0,0,0.1);
  
  margin: 0 0 0 auto;
}
.rdPage-lycense ul{
position: relative;

}
.rdPage-lycense ul li .radio-button {
  display: flex;
  position: relative;
  cursor: pointer;
}
.rdPage-lycense ul li {
  padding: 7px 0;
}
.rdPage-lycense .packBuyuserType .packBuyuserPrice {
  color:  #00C4F4;
  position: absolute;
  padding: 0 10px;
}
.rdPage-lycense .packBuyuserType {
  margin: -2px 0 0 35px !important;
  padding: 0;
}
/* .rdPage-lycense .packBuyuserType {
  position: relative;
} */
.rdPage-lycense .custom-radiobutton{
  top: 0px;
  left: 6px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.rdPage-lycense .custom-radiobutton::after{
  width: 16px;
  height: 16px;

}
.rd-buyn{
  color: #fff;
  background-color: #00A100;
  padding: 8px 47px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  width: max-content;
  margin: 0 auto;
  display: block;
}
.rd-buyn:hover{
  background-color: #00A100;
  color: #fff;
  box-shadow: 1px 11px 10px 1px rgba(0,0,0,.1);
  text-decoration: none;
}
.getsample{
  border:none;
  margin: 0 auto;
  color: #fff;
  padding: 9px 19px;
  background: #00499E;
  margin:20px auto;
  /* position: absolute; */
  right: 0;
  width: max-content;
}
.getsample:hover ,.reqSamp:hover{
  text-decoration: none;
  background: #00499E;
  color: #fff;
  box-shadow: 1px 11px 10px 1px rgba(0,0,0,.1);
  cursor: pointer;
}
.reqSamp{
  padding: 5px 13px;
  border: none;
  border-radius: 0;
  background:#00499E;
  color: #fff;
}
.sampReqForm .row .form-group{
  padding-top: 10px;
  padding-bottom: 10px;
}
.sampReqForm input::placeholder , .sampReqForm textarea::placeholder , .sampReqForm select{
  font-size: 13px;
  letter-spacing: 1px;
  opacity: .5;
}
.unpb-rd-parent{
  position: relative;
}
.unpb-right-sec{
  position: sticky;
  z-index: 999;
  top: 70px;
}
.buy-sections{
  padding:0;
  border: 1px solid rgba(0,0,0,.1);
  margin: 16px 0 0 0;
}
.buy-sections h5{
 color: #fff;
 background: #002856;
 font-size: 16px;
 padding: 13px 3px 13px 18px;
 margin: 0 auto;
}
.buy-sections p{
  padding: 12px 2px 0 18px;
  font-size: 15px;
  opacity: .8;
  color: #002856;
  margin: 0;
 }
 .buy-sections ol{
  padding: 10px 2px 0 30px;
 }
 .buy-sections ol li{
  font-size: 14px;
  opacity: .8;
  color: #002856;
 }
 



/*  */
.pb_rd_link{
  border: none !important;
  text-transform: uppercase;
  font-size: 13px !important;
  letter-spacing: .09em;
  opacity: .6;
}
.custom_dropright , .pub_rd_accordian_submenu li {
  background-color: #F0F0F0 !important;
}
.pb_rd_link::after{
  content: ' \2020';
  font-size: 20px;
  display: block;
  right: 3px;
  position: absolute;
  top: 3px;
}
.toc_parent ul li.open .pb_rd_link::after{
  content: ' \2010' !important;
}
.toc_parent ul li.open .pb_rd_link{
  opacity: 1;
}
.toc_parent ul li:hover{
  background-color: #EAEAEA;
}
.toc_parent ul li:hover .pb_rd_link{
  color: #002856;
}

.pub_rd_accordian_submenu a.active {
  padding-left: 28px;
  font-size: 14px;
  opacity: 1 !important;
}
.rd_accordian_submenu a.active {
  background:  #fff;
  color: #002856;
}
/*  */


@media screen and (max-width:767px){
  .rdPage-lycense{
    margin: 0 auto;
  }
  .getsample{
    left: 0;
  }
}

.paymant-load {
  display: flex;
  color: white;
  font-size: 3em;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  justify-content: center;
}
.paymant-load span {
  padding: 0 7px;
  color: #fff;
  background: transparent;
  animation: bulge 1s infinite;

}
@keyframes bulge {
  50% {
    box-shadow: 0 10px 0 #00A509;
    transform: translateY(-8px);
 }
}
.under-p p{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .15em;
  opacity: .8;
}
.under-p img{
  padding: 10px 0 17px 0px;
opacity: .5;
}
.dn-refresh{
  font-size: 12px;
  color: #00499E;
  opacity: .7;
  font-style: italic;
}

 



/* Modal Tabs (Geographical Outlooks) */

.madalTabs{
  display: flex;
}
.madalTabs div input[type="radio"]{
  display: none;
}
.madalTabs div input:checked ~ label{
  color: #00C4F4;
}
.madalTabs div label{
  cursor: pointer;
}
.close img{
  margin: -50px 0 0 0;
}
.blur{
  filter: blur(4px);
}

.subsOverlay {
	position: relative;
	width: 100%;
  }
  .subsOverlay:hover .blur{
	opacity: 0.2;
  }
  .subsOverlay:hover .subsbtn {
	opacity: 1;
  }
.subsbtn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  }
  .tbalOverlay:hover .custom_data_table {
  opacity: 0.2;
  }
  .tbalOverlay:hover .subsbtn {
  opacity: 1;
  }
  .subsbtnLink {
  background-color: #00A509;
  color: white;
  font-size: 16px;
  padding: 11px 32px;
  border-radius: 3px;
  letter-spacing: 1px;
  }
  .subsbtnLink:hover {
  text-decoration: none;
  color: #fff;
  }
  .modalTitleTF{
    margin: -45px 0 0 0;
  }

/*  */   

/* subscribe changes */

@media screen and (min-width:371px) and (max-width:481px)
{
  .userslicense label{
      font-size: 14px;
      min-width: 109px;
  }
  .userslicense input[type="radio"]:checked + label::after {
    left: 33px;
  }
}
@media screen and  (max-width:370px)
{
  .userslicense label{
      font-size: 12px;
      min-width: 93px;
  }
  .userslicense input[type="radio"]:checked + label::after {
    left: 28px;
  }
}
/*  */