
/* 
.container2 {
    position: relative;
    top: 11%;
    left: 23%;
}
.aaa {
    height: 180px;
    width: 478px;
    position: absolute;
    z-index: 9;
    box-shadow: 0px 0px 4px -1px gray;
    
    transition: all 500ms ease;
    border-radius: 5px;
    background:
    #fff;
    
    display: flex;
    
    padding: 13px 5px;
    font-size: 12px !important;
}
.c1 {
    transform: translateX(0) scale(1.5);
    z-index: 99;
}
.c2 {
    transform: translateX(-180px) scale(1);
}
.c3 {
    transform: translateX(180px) scale(1);
}
.prev, .next {
    position: absolute;
    color: gray;
    border: 2px solid gray;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    bottom: 1%;
    background: #000;
    color: #fff;
}
.prev:hover, .next:hover {
    background: #57d0be;
}
.prev {
    left: -1%;
top: 24%;
z-index: 999;
}
.next {
    right: -1%;
top: 24%;
z-index: 999;

} */


