          <!-- <div class="col-lg-12 col-offset-1"> -->
     
                    <!-- <div class="newRDP">
                    <div class="tab-container">
                        <div class="tab-navigation">              
                          <select id="select-box" >
                            <option value="1"> &#xf042; Global <i class="fa fa-user"></i></option>
                            <option value="2">Asia Pacific</option>
                            <option value="3">North america</option>
                            <option value="4">Middle East</option>
                            <option value="5">Africa</option>
                          </select>
                        </div>
                        <div id="tab-1" class="tab-content">
                            <div class="text__title">
                                <div class="newRDP__img">
                                    <img src="./assets/images/samp.jpg" alt="">
                                </div>
                                <div class="newRDP__info">
                                    <div class="newRDP__info_title">
                                        <h6>Pacemaker Mark44444    uct Type (Implantable Pacemaker,External Pacemaker), Technology(Single Chambered,Dual Chambered),Application (Heart Block, Arrhythmia)- Forecast Till 2026</h6>
                                        <p>
                                            India Statistics Representing  Market Scenario Pacemaker is a small electric device, which helps in controlling heartbeat by sending an electric impulse. It is implanted underIndia Statistics Representing Pacemaker Market Scenario Pacemaker is a small electric device, which helps in control pa...
                                        </p>
                                    </div>
                                    <div class="com-logo">
                                        <img src="./assets/images/samp3.png" alt="">
                                    </div>
                                    <div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-content">
                            <div class="text__title">
                                <div class="newRDP__img">
                                    <img src="./assets/images/samp (1).png" alt="">
                                </div>
                                <div class="newRDP__info">
                                    <div class="newRDP__info_title">
                                        <h6>Pacemaker Market: 6666666666666 Information by Product Type (Implantable Pacemaker,External Pacemaker), Technology(Single Chambered,Dual Chambered),Application (Heart Block, Arrhythmia)- Forecast Till 2026</h6>
                                        <p>
                                            India Statistics Representing  Market Scenario Pacemaker is a small electric device, which helps in controlling heartbeat by sending an electric impulse. It is implanted underIndia Statistics Representing Pacemaker Market Scenario Pacemaker is a small electric device, which helps in control pa...
                                        </p>
                                    </div>
                                
                                    <div>
                                        <img src="./assets/images/samp3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="text__title">
                                <div class="newRDP__img">
                                    <img src="./assets/images/samp (2).png" alt="">
                                </div>
                                <div class="newRDP__info">
                                    <div class="newRDP__info_title">
                                        <h6>Pacemaker Market:89888888888888 Information by Product Type (Implantable Pacemaker,External Pacemaker), Technology(Single Chambered,Dual Chambered),Application (Heart Block, Arrhythmia)- Forecast Till 2026</h6>
                                        <p>
                                            India Statistics Representing  Market Scenario Pacemaker is a small electric device, which helps in controlling heartbeat by sending an electric impulse. It is implanted underIndia Statistics Representing Pacemaker Market Scenario Pacemaker is a small electric device, which helps in control pa...
                                        </p>
                                    </div>
                                    <div>
                                        <img src="./assets/images/samp3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div id="tab-4" class="tab-content">
                        <div class="text__title">
                            <div class="newRDP__img">
                                <img src="./assets/images/samp (3).png" alt="">
                            </div>
                            <div class="newRDP__info">
                                <div class="newRDP__info_title">
                                    <h6>Pacemaker Market:5857858578 Information by Product Type (Implantable Pacemaker,External Pacemaker), Technology(Single Chambered,Dual Chambered),Application (Heart Block, Arrhythmia)- Forecast Till 2026</h6>
                                    <p>
                                        India Statistics Representing  Market Scenario Pacemaker is a small electric device, which helps in controlling heartbeat by sending an electric impulse. It is implanted underIndia Statistics Representing Pacemaker Market Scenario Pacemaker is a small electric device, which helps in control pa...
                                    </p>
                                </div>
                            
                                <div>
                                    <img src="./assets/images/samp3.png" alt="">
                                </div>
                            </div>
                           
                        </div>
                     
                        </div>
                        <div id="tab-5" class="tab-content">
                            <div class="text__title">
                                <div class="newRDP__img">
                                    <img src="./assets/images/samp (4).png" alt="">
                                </div>
                                <div class="newRDP__info">
                                    <div class="newRDP__info_title">
                                        <h6>Pacemaker Market:5858585858w Information by Product Type (Implantable Pacemaker,External Pacemaker), Technology(Single Chambered,Dual Chambered),Application (Heart Block, Arrhythmia)- Forecast Till 2026</h6>
                                        <p>
                                            India Statistics Representing  Market Scenario Pacemaker is a small electric device, which helps in controlling heartbeat by sending an electric impulse. It is implanted underIndia Statistics Representing Pacemaker Market Scenario Pacemaker is a small electric device, which helps in control pa...
                                        </p>
                                    </div>
                                
                                    <div>
                                        <img src="./assets/images/samp3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                </div>
                        <div style="padding: 22px 0;">
                            <i class="fa fa-phone" id="call"></i>
                            <a href="#" class="gfr">Get Full Report</a>
                        </div>
                    </div> -->
               
                    <!-- </div> -->